bokeh==2.4.3
Cython==0.29.35
Flask==2.2.5
gensim==4.3.1
huggingface-hub==0.15.1
Jinja2==3.1.2
joblib==1.2.0
keras==2.12.0
matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
missingno==0.5.2
nbconvert==6.5.4
numpy==1.22.4
pandas==1.5.3
pandas-datareader==0.10.0
pandas-gbq==0.17.9
plotly==5.13.1
progressbar2==4.2.0
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
sklearn-pandas==2.2.0
tensorflow==2.12.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.12.0
tensorflow-gcs-config==2.12.0
tensorflow-hub==0.13.0
tensorflow-io-gcs-filesystem==0.32.0
tensorflow-metadata==1.13.1
tensorflow-probability==0.20.1
tensorstore==0.1.38
tokenizers==0.13.3
torchdata==0.6.1
torchsummary==1.5.1
transformers==4.30.2
urllib3==1.26.16

